$erb_context = binding

# This is probably ok to leave
debug_level = '3'
# CHANGE to whatever you have syslog set up to log
# for your proxy
log_facility = 'LOG_LOCAL3'

# CHANGE THIS
listen_ip = '1.2.3.4'

# CHANGE THIS to match your install prefix
module_path = '/usr/local/opensips/lib64/opensips/modules/'

# This user and group must exist
user = 'opensips'
group = 'opensips'

# We set db_url then reference it for all other db_urls
# since they share a common db.  You can set them individually.
#
# This is the format for a mysql db in opensips
#      dbtype   user pass     host      db
db_url='mysql://root:somepass@localhost/proxy'
group_db_url=db_url
alias_db_url=db_url
auth_db_url=db_url
avp_db_url=db_url
dialog_db_url=db_url
usrloc_db_url=db_url
domain_db_url=db_url
