html {
  min-height: 100%;
  min-width: 100%;
  background: #7F7C8A;
  font-size: 100%;
}

body {
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
}

#local {
  border: 1px solid #666;
  height: 12em;
  width: 12em;
  overflow: hidden;
  margin: 0 auto;
  background: #f3f5f8;
}

#local video {
  height: 10em;
  display: block;
}

button {
  color: transparent;
  height: 2em;
  width: 2em;
  background: transparent;
  background-size: 2em 2em;
  border: none;
  font-size: 1em;
  box-shadow: inset 0 3px #2ac56c;
  cursor: pointer;
}
button.off {
  box-shadow: inset 0 3px #f06060;
}

#video-toggle {
  background-image: url('img/toggle_video_on.png');
  border-left: 1px solid #6f7e95;
  float: right;
}
#video-toggle.off {
  background-image: url('img/toggle_video_off.png');
}

#audio-toggle {
  background-image: url('img/toggle_audio_on.png');
  border-right: 1px solid #6f7e95;
  float: left;
}
#audio-toggle.off {
  background-image: url('img/toggle_audio_off.png');
}

#remotes {
  position: absolute;
  text-align: center;
  top: 13em;
  bottom: 2em;
  left: 0;
  width: 100%;
  background: #1B172B;
  border-top: 1px solid #9F9F9F;
  border-bottom: 1px solid #9F9F9F;
  min-height: 20em;
  overflow: auto;
}

#remotes video,
#remotes canvas {
  width: 45%;
  margin: 1em 1.5%;
  display: inline-block;
  border: 1px solid #666;
  background: #333 url('img/giant_handset.png') center no-repeat;
}


#remotes video {
  height: auto;
}
