[Unit]
Description=OpenSIPS is a very fast and flexible SIP (RFC3261) server
After=network.target mysqld.service rtpengine.service

[Service]
Type=forking
User=opensips
Group=opensips
EnvironmentFile=/etc/sysconfig/opensips
PIDFile=/var/run/opensips/opensips.pid
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/opensips
ExecStartPre=/bin/chown -R opensips:opensips /var/run/opensips/
ExecStart=/sbin/opensips -P /var/run/opensips/opensips.pid -f /etc/opensips/opensips.cfg $OPTIONS

Restart=always

[Install]
WantedBy=multi-user.target

